.authorText1 {
    font-weight: normal !important;
    font-size: 4rem !important;
    vertical-align: bottom;
}

body {
    background-color: rgb(58, 68, 75);
    color: white;
}

.merriweather {
    font-family: 'Merriweather', serif !important;
}